---
import { CaretCircleDown } from "@phosphor-icons/react";
import FloatingCard from "../FloatingCard";
import DottedBackground from "./DottedBackground";

type Props = {
	topText: string;
	title: string;
	subtitle: string;
};

const { topText, title, subtitle } = Astro.props;

// TODO MAKE view projects button interactive.
---

<section
	class="relative container mx-auto h-dvh flex justify-center items-center p-2 landscape:pb-2 md:landscape:pb-10"
>
	<FloatingCard innerClassName="text-center" client:visible>
		<h2 class="text-3xl font-black uppercase sm:text-4xl">{topText}</h2>
		<h1 class="uppercase text-6xl font-black sm:text-8xl">{title}</h1>
		<p class="mx-auto mt-1 max-w-80 text-balance text-sm normal-case sm:text-base">
			{subtitle}
		</p>

		<a href="/blog" class="button inline-block text-base px-1.5 py-0.5 mt-4 text-center">
			check out my blog
		</a>
	</FloatingCard>

	<div class="absolute bottom-5 flex flex-col justify-center items-center gap-2 animate-pulse">
		<div class="text-center text-xs uppercase">view projects</div>

		<button
			class="text-5xl hover:scale-95 transition-transform duration-500 ease-in-out"
			title="View Projects"
		>
			<CaretCircleDown weight="fill" />
		</button>
	</div>
</section>

<DottedBackground client:only="react" />
