---
import "@fontsource/space-grotesk";
import Header from "../../component/Header/index.astro";
import Footer from "../../component/Footer/index.astro";
import { getDefaultMetadata } from "../../lib/cms";

const metadata = await getDefaultMetadata();
const metadataTitle = metadata.title;
const metadataDescription = metadata.description;
const metadataKeywords = metadata.keywords ? metadata.keywords.join(", ") : "";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={metadataDescription} />
		<meta name="keywords" content={metadataKeywords} />
		<title>{metadataTitle}</title>
	</head>
	<body class="realtive bg-secondary text-primary overflow-x-hidden min-h-dvh flex flex-col">
		<Header />
		<main class="relative w-full overflow-x-hidden flex-1">
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style is:global>
	body {
		font-family: "Space Grotesk", system-ui;
	}
</style>
