---
import MainLayout from "../layouts/MainLayout/index.astro";
---

<MainLayout fakeHeader>
	<section class="container mx-auto text-center flex-1 flex justify-center items-center">
		<div class="mb-20 text-2xl">
			<p>This blog page is currently a work in progress.</p>
			<p class="mt-4">Check back soon for updates!</p>
		</div>
	</section>
</MainLayout>
