---
import MainLayout from "../layouts/MainLayout/index.astro";
import Form from "../component/Form/index.astro";
---

<MainLayout>
	<section
		class="container mx-auto p-2 h-full absolute inset-0 flex flex-col justify-center items-center overflow-x-hidden"
	>
		<Form />
	</section>
</MainLayout>
