---
import "@fontsource/space-grotesk";
import HomeHero from "../component/HomeHero/index.astro";
import DottedBackground from "../component/DottedBackground";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="realtive bg-secondary text-primary">
		<HomeHero
			topText="hello there"
			title="i'm mike"
			subtitle="Experienced British Web Developer & Hobbyist Game Developer"
		/>
		<DottedBackground client:only="react" />
	</body>
</html>

<style is:global>
	body {
		font-family: "Space Grotesk", system-ui;
	}
</style>
