---
import CardGrid from "./CardGrid";
import getProjects from "../../lib/getProjects";

const projects = await getProjects();
---

<section id="projects-section" class="container mx-auto flex flex-col items-center px-2 pb-8">
	<!-- ANCHOR HEADING TEXT -->
	<div class="mt-10 w-full max-w-[30rem] text-center sm:mt-12">
		<h1 class="text-5xl font-bold uppercase sm:text-7xl">projects</h1>
		<p class="mt-1 text-pretty text-xs opacity-90">
			Here's a bunch of my personal and professional projects.
		</p>
	</div>

	<!-- ANCHOR CARD GRID -->
	<CardGrid projects={projects} client:visible />

	<!-- ANCHOR LOAD MORE CARDS BUTTON -->
	<!-- TODO ADD loading button back when needed. -->
	<!-- <button class="button text-4xl font-bold border-4 animate-pulse mt-8 sm:mt-16">load more</button> -->
</section>
