.wrapper {
	display: grid;
	grid-template-columns: repeat(var(--cols), 1fr);
	grid-template-rows: repeat(var(--rows), 1fr);
	animation: fade-in 2s ease-in-out;
}

@keyframes fade-in {
	from {
		@apply bg-secondary;
	}

	to {
		@apply bg-primary;
	}
}
