---
import MobileNavigation from "./MobileNavigation";
import { getResumePage } from "../../lib/cms";

const resumePage = await getResumePage();
const resumeFilePath = resumePage.resume;
---

<header class="absolute top-0 left-0 flex justify-between w-full items-center z-20 p-4">
	<a href="/" aria-label="home page">MikeNew.XYZ</a>

	<!-- ANCHOR DESKTOP NAVIGATION -->
	<nav class="sm:flex gap-2 hidden">
		<a href={resumeFilePath} class="button px-1 py-0.5">resume</a>
		<a href="/contact" class="button px-1 py-0.5">contact</a>
	</nav>

	<!-- ANCHOR MOBILE NAVIGATION -->
	<MobileNavigation client:visible />
</header>
