---
import { GithubLogo, LinkedinLogo } from "@phosphor-icons/react";
---

<footer
	class="mx-auto container px-2 py-4 flex flex-col sm:flex-row justify-between items-center gap-2"
>
	<a href="/" aria-label="home page">MikeNew.XYZ</a>

	<nav class="flex gap-2">
		<a
			href="https://github.com/MikeNewXYZ"
			class="button px-1 py-0.5 flex gap-1 items-center"
			target="_blank"
		>
			<GithubLogo />
			<span>github</span>
		</a>

		<a
			href="https://www.linkedin.com/in/mikenewxyz/"
			class="button px-1 py-0.5 flex gap-1 items-center"
			target="_blank"
		>
			<LinkedinLogo />
			<span>linkedin</span>
		</a>
	</nav>
</footer>
