.vignette {
	background-image: radial-gradient(
		ellipse at center,
		theme(colors.secondary / 0%) 0%,
		theme(colors.secondary / 20%) 50%,
		theme(colors.secondary / 100%) 90%,
		theme(colors.secondary / 100%) 100%
	);
}

.sphere-wrapper {
	--radius: 0px;
	--rotation-duration: 0s;
	--node-size: 0px;
	--glow-cycle-duration: 0s;

	width: calc(var(--radius) * 2);
	height: calc(var(--radius) * 2);
}

.sphere {
	transform-style: preserve-3d;
	animation: rotation var(--rotation-duration) linear infinite;
}

.sphere-nodes {
	--glow-delay: 0s;
	--x: 0px;
	--y: 0px;
	--z: 0px;

	top: calc(-1 * (var(--node-size) / 2));
	left: calc(-1 * (var(--node-size) / 2));

	transform-style: preserve-3d;
	transform: translate3d(var(--x), var(--y), var(--z));
}

.sphere-nodes::before {
	content: "";

	width: var(--node-size);
	height: var(--node-size);

	animation:
		invertRotate var(--rotation-duration) infinite linear 0s,
		glow var(--glow-cycle-duration) infinite linear var(--glow-delay);
}

@keyframes rotation {
	from {
		transform: rotateX(90deg) rotateZ(360deg);
	}
	to {
		transform: rotateX(90deg) rotateZ(-360deg);
	}
}

@keyframes invertRotate {
	from {
		transform: rotateX(90deg) rotateY(-360deg);
	}
	to {
		transform: rotateX(90deg) rotateY(360deg);
	}
}

@keyframes glow {
	0%,
	45%,
	55%,
	100% {
		box-shadow: 0 0 0px 0px theme(colors.primary);
		opacity: 0.5;
	}

	50% {
		box-shadow: 0 0 20px 2px theme(colors.primary);
		opacity: 1;
	}
}
