---
import BaseHead from "@src/components/BaseHead.astro";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title="MikeNewXYZ - Portfolio"
			description="Full-Stack Web Developer | ReactJS, NextJS, TypeScript and Shopify Themes."
		/>
	</head>

	<body>
		<main class="relative w-full min-h-dvh overflow-x-hidden flex-1 flex flex-col h-[10000px]">
			<Header />
			<slot />
		</main>
	</body>
</html>
