---
import BaseHead from "@src/components/BaseHead.astro";
import Header from "@src/components/Header.astro";
import Footer from "@src/components/Footer.astro";
import Sphere from "@src/components/Sphere.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title="MikeNewXYZ - Portfolio"
			description="Full-Stack Web Developer | ReactJS, NextJS, TypeScript and Shopify Themes."
		/>
	</head>

	<body class="relative min-h-dvh w-full overflow-x-hidden flex-1 flex flex-col">
		<Header />

		<main class="relative w-full overflow-x-hidden flex-1">
			<slot />
		</main>

		<Sphere nodeCount={300} nodeSize={2} rotationDuration={200} glowCycleDuration={8} />
		<Footer />
	</body>
</html>
